/* xs */
@media (max-width: 576px) {
    .banner-box {
        height: 280px;
        width: 90%;
        margin: 13px;
    }

    .banner-info {
        padding: 10px 15px 10px 15px;
    }

    .banner-title{
        font-size: 23px;
    }

    .banner-description {
        font-size: 13px;
    }

    .swiper-container {
        height: 300px;
    }
}

/* sm */
@media (min-width: 576px) {
    .banner-box {
        height: 380px;
        width: 90%;
        margin: 13px;
    }

    .banner-info {
        padding: 10px 15px 10px 15px;
    }

    .banner-title{
        font-size: 26px;
    }

    .banner-description {
        font-size: 18px;
    }

    .swiper-container {
        height: 400px;
    }
}

/* md */
@media (min-width: 768px) {
    .banner-box {
        height: 250px;
        width: 100%;
        margin: 13px;
    }

    .banner-info {
        padding: 8px 10px 8px 10px;
    }

    .banner-title{
        font-size: 18px;
    }

    .banner-description {
        font-size: 7px;
    }

    .swiper-container {
        height: 300px;
    }
}

/* lg */
@media (min-width: 992px) {
    .banner-box {
        height: 290px;
        width: 100%;
        margin: 13px;
    }

    .banner-info {
        padding: 10px 15px 10px 15px;
    }

    .banner-title{
        font-size: 21px;
    }

    .banner-description {
        font-size: 10px;
    }

    .swiper-container {
        height: 320px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .banner-box {
        height: 300px;
        width: 100%;
        margin: 13px;
    }

    .banner-info {
        padding: 10px 13px 10px 13px;
    }

    .banner-title{
        font-size: 22px;
    }

    .banner-description {
        font-size: 12px;
    }

    .swiper-container {
        height: 320px;
    }
}

/* xxl */
@media (min-width: 1600px) {
    .banner-box {
        height: 300px;
        width: 100%;
        margin: 13px;
    }

    .banner-info {
        padding: 10px 20px 10px 20px;
    }

    .banner-title{
        font-size: 22px;
    }

    .banner-description {
        font-size: 15px;
    }

    .swiper-container {
        height: 400px;
    }
}

.banner-box {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    position: relative;
}

.banner-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}

.banner-info {
    position: absolute;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,1));;
    bottom: 0;
    border-radius: 0 0 9px 9px;
    text-align: left;
}

.banner-title{
    font-weight: bold;
}

.banner-description {
    color: rgba(0, 0, 0, 0.45);
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after, .swiper-button-next:after {
    visibility: hidden;
}

.swiper-custom-button{
    margin-left: 25px;
    opacity: 0.5;
}
.swiper-custom-button:hover{
    opacity: 1;
}
