/* xs */
@media (max-width: 576px) {
    .details-switch-wrapper {
        height: 320px;
    }

    .details-switch {
        height: 240px;
    }

    .details-switch-img-wrapper {
        width: 40%;
    }

    .details-switch-text-wrapper {
        width: 60%;
    }

    .details-switch-text-wrapper .banner-anim-elem {
        padding: 15px;
    }

    .movie-detail h4.ant-typography, .ant-typography h4 {
        font-size: 18px;
    }

    .movie-detail .ant-rate {
        font-size: 10px;
    }

    .movie-detail .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-detail .ant-progress-text {
        margin-left: 3px;
        font-size: 12px;
    }

    .score-total h1.ant-typography, .ant-typography h1 {
        margin: 0;
        font-size: 38px;
    }

    .score-total .ant-rate {
        font-size: 16px;
    }

    .movie-detail .ant-descriptions-item-label {
        font-size: 10px;
    }

    .movie-detail .ant-descriptions-item-content {
        font-size: 10px;
    }

    .movie-detail .ant-descriptions-row > th, .ant-descriptions-row > td {
        padding-bottom: 0;
    }

    .mobile-score-board h1.ant-typography, .ant-typography h1 {
        font-size: 40px;
        margin: 0 ;
    }

    .mobile-score-board .score-preview .ant-rate {
        font-size: 13px;
    }

    .mobile-score-board .score-preview .ant-rate-star:not(:last-child) {
        margin-right: 6px;
    }

    .mobile-score-board .score-total .ant-rate {
        font-size: 16px;
        padding: 5px 0;
    }

    .mobile-score-board .score-total .ant-rate-star:not(:last-child) {
        margin-right: 6px;
    }
}

/* sm */
@media (min-width: 576px) {
    .details-switch-wrapper {
        height: 340px;
    }

    .details-switch {
        height: 260px;
    }

    .details-switch-img-wrapper {
        width: 30%;
    }

    .details-switch-text-wrapper {
        width: 70%;
    }

    .details-switch-text-wrapper .banner-anim-elem {
        padding: 15px;
    }

    .movie-detail h4.ant-typography, .ant-typography h4 {
        font-size: 18px;
    }

    .movie-detail .ant-rate {
        font-size: 10px;
    }

    .movie-detail .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-detail .ant-progress-text {
        margin-left: 3px;
        font-size: 12px;
    }

    .score-total h1.ant-typography, .ant-typography h1 {
        margin: 0;
        font-size: 38px;
    }

    .score-total .ant-rate {
        font-size: 16px;
    }

    .movie-detail .ant-descriptions-item-label {
        font-size: 12px;
    }

    .movie-detail .ant-descriptions-item-content {
        font-size: 12px;
    }

    .movie-detail .ant-descriptions-row > th, .ant-descriptions-row > td {
        padding-bottom: 0;
    }

    .mobile-score-board h1.ant-typography, .ant-typography h1 {
        font-size: 50px;
        margin: 0;
    }

    .mobile-score-board .score-preview .ant-rate {
        font-size: 13px;
    }

    .mobile-score-board .score-preview .ant-rate-star:not(:last-child) {
        margin-right: 6px;
    }

    .mobile-score-board .score-total .ant-rate {
        font-size: 16px;
        padding: 5px 0;
    }

    .mobile-score-board .score-total .ant-rate-star:not(:last-child) {
        margin-right: 6px;
    }
}

/* md */
@media (min-width: 768px) {
    .details-switch-wrapper {
        height: 380px;
    }

    .details-switch {
        height: 300px;
    }

    .details-switch-img-wrapper {
        width: 30%;
    }

    .details-switch-text-wrapper {
        width: 70%;
    }

    .details-switch-text-wrapper .banner-anim-elem {
        padding: 20px;
    }

    .movie-detail h4.ant-typography, .ant-typography h4 {
        font-size: 20px;
    }

    .movie-detail .ant-rate {
        font-size: 10px;
    }

    .movie-detail .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-detail .ant-progress-text {
        margin-left: 3px;
        font-size: 12px;
    }

    .score-total h1.ant-typography, .ant-typography h1 {
        margin: 0;
        font-size: 38px;
    }

    .score-total .ant-rate {
        font-size: 16px;
    }

    .movie-detail .ant-descriptions-item-label {
        font-size: 12px;
    }

    .movie-detail .ant-descriptions-item-content {
        font-size: 12px;
    }

    .movie-detail .ant-descriptions-row > th, .ant-descriptions-row > td {
        padding-bottom: 5px;
    }

    .mobile-score-board h1.ant-typography, .ant-typography h1 {
        font-size: 50px;
        margin: 0;
    }

    .mobile-score-board .score-preview .ant-rate {
        font-size: 16px;
    }

    .mobile-score-board .score-total .ant-rate {
        font-size: 20px;
        padding: 5px 0;
    }
}

/* lg */
@media (min-width: 992px) {
    .details-switch-wrapper {
        height: 450px;
    }

    .details-switch {
        height: 370px;
    }

    .details-switch-img-wrapper {
        width: 30%;
    }

    .details-switch-text-wrapper {
        width: 70%;
    }

    .details-switch-text-wrapper .banner-anim-elem {
        padding: 30px;
    }

    .movie-detail h4.ant-typography, .ant-typography h4 {
        font-size: 25px;
    }

    .movie-detail .ant-rate {
        font-size: 10px;
    }

    .movie-detail .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-detail .ant-progress-text {
        margin-left: 3px;
        font-size: 12px;
    }

    .score-total h1.ant-typography, .ant-typography h1 {
        margin: 0;
        font-size: 38px;
    }

    .score-total .ant-rate {
        font-size: 16px;
    }

    .movie-detail .ant-descriptions-item-label {
        font-size: 13px;
    }

    .movie-detail .ant-descriptions-item-content {
        font-size: 13px;
    }

    .movie-detail .ant-descriptions-row > th, .ant-descriptions-row > td {
        padding-bottom: 10px;
    }

    .mobile-score-board h1.ant-typography, .ant-typography h1 {
        font-size: 50px;
        margin: 0;
    }

    .mobile-score-board .score-preview .ant-rate {
        font-size: 16px;
    }

    .mobile-score-board .score-total .ant-rate {
        font-size: 20px;
        padding: 10px 0;
    }
}

/* xl */
@media (min-width: 1200px) {
    .details-switch-wrapper {
        height: 500px;
    }

    .details-switch {
        height: 420px;
    }

    .details-switch-img-wrapper {
        width: 30%;
    }

    .details-switch-text-wrapper {
        width: 70%;
    }

    .details-switch-text-wrapper .banner-anim-elem {
        padding: 35px;
    }

    .movie-detail h4.ant-typography, .ant-typography h4 {
        font-size: 30px;
    }

    .movie-detail .ant-rate {
        font-size: 10px;
    }

    .movie-detail .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-detail .ant-progress-text {
        margin-left: 3px;
        font-size: 12px;
    }

    .score-total h1.ant-typography, .ant-typography h1 {
        margin: 0;
        font-size: 38px;
    }

    .score-total .ant-rate {
        font-size: 16px;
    }

    .movie-detail .ant-descriptions-item-label {
        font-size: 14px;
    }

    .movie-detail .ant-descriptions-item-content {
        font-size: 14px;
    }

    .movie-detail .ant-descriptions-row > th, .ant-descriptions-row > td {
        padding-bottom: 12px;
    }
}

/* xxl */
@media (min-width: 1600px) {
    .details-switch-wrapper {
        height: 600px;
    }

    .details-switch {
        height: 520px;
    }

    .details-switch-img-wrapper {
        width: 30%;
    }

    .details-switch-text-wrapper {
        width: 70%;
    }

    .details-switch-text-wrapper .banner-anim-elem {
        padding: 40px;
    }

    .movie-detail h4.ant-typography, .ant-typography h4 {
        font-size: 30px;
    }

    .movie-detail .ant-rate {
        font-size: 14px;
    }

    .movie-detail .ant-rate-star:not(:last-child) {
        margin-right: 8px;
    }

    .movie-detail .ant-progress-text {
        margin-left: 3px;
        font-size: 12px;
    }

    .score-total h1.ant-typography, .ant-typography h1 {
        margin: 0;
        font-size: 38px;
    }

    .score-total .ant-rate {
        font-size: 20px;
    }

    .movie-detail .ant-descriptions-item-label {
        font-size: 14px;
    }

    .movie-detail .ant-descriptions-item-content {
        font-size: 14px;
    }

    .movie-detail .ant-descriptions-row > th, .ant-descriptions-row > td {
        padding-bottom: 14px;
    }
}

.movie-detail .ant-progress-success-bg, .ant-progress-bg,
.mobile-score-board .score-preview .ant-progress-success-bg, .ant-progress-bg {
    background-color: #fadb14;;
}

.movie-detail .score-preview .ant-rate,
.mobile-score-board .score-preview .ant-rate {
    color: rgba(0, 0, 0, 0.3);
}

.details-switch-wrapper {
    position: relative;
    overflow: hidden;
    transition: background 1s;
}

.details-switch {
    margin: 40px auto;
    width: 90%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.details-switch-img-wrapper {
    display: inline-block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.details-switch-text-wrapper {
    display: inline-block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.details-switch-pic {
    position: absolute;
}

.details-switch-text-wrapper em {
    height: 2px;
    width: 60px;
    border-radius: 2px;
    display: block;
}

.details-switch-text-wrapper p {
    font-size: 12px;
    margin-top: 10px;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after, .swiper-button-next:after {
    visibility: hidden;
}

.swiper-custom-button {
    margin-left: 25px;
    opacity: 0;
}

.movie-detail .ant-card-actions {
    background: #ffffff;
}

