/* xs */
@media (max-width: 576px) {
    .movie-preview-card .ant-card-meta-title {
        font-size: 14px;
    }

    .movie-preview-card .ant-card {
        font-size: 10px;

    }

    .movie-preview-card .ant-rate-star:not(:last-child) {
        margin-right: 1px;
    }

    .movie-preview-card .ant-rate {
        font-size: 11px;
    }

    .movie-preview-card .ant-card-cover {
        height: 300px;
    }
}

/* sm */
@media (min-width: 576px) {
    .movie-preview-card .ant-card-meta-title {
        font-size: 16px;
    }

    .movie-preview-card .ant-card {
        font-size: 13px;

    }

    .movie-preview-card .ant-rate-star:not(:last-child) {
        margin-right: 2px;
    }

    .movie-preview-card .ant-rate {
        font-size: 10px;
    }

    .movie-preview-card .ant-card-cover {
        height: 200px;
    }
}

/* md */
@media (min-width: 768px) {
    .movie-preview-card .ant-card-meta-title {

    }

    .movie-preview-card .ant-card {
        font-size: 16px;
    }

    .movie-preview-card .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-preview-card .ant-rate {
        font-size: 16px;
    }

    .movie-preview-card .ant-card-cover {
        height: 200px;
    }
}

/* lg */
@media (min-width: 992px) {
    .movie-preview-card .ant-card-meta-title {

    }

    .movie-preview-card .ant-card {
        font-size: 13px;

    }

    .movie-preview-card .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-preview-card .ant-rate {
        font-size: 12px;
    }

    .movie-preview-card .ant-card-cover {
        height: 160px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .movie-preview-card .ant-card-meta-title {

    }

    .movie-preview-card .ant-card {
        font-size: 12px;

    }

    .movie-preview-card .ant-rate-star:not(:last-child) {
        margin-right: 4px;
    }

    .movie-preview-card .ant-rate {
        font-size: 12px;
    }

    .movie-preview-card .ant-card-cover {
        height: 220px;
    }
}

@media (min-width: 1400px) {
    .movie-preview-card .ant-card-cover {
        height: 270px;
    }
}
/* xxl */
@media (min-width: 1600px) {
    .movie-preview-card .ant-card-meta-title {

    }

    .movie-preview-card .ant-card {
        font-size: 15px;

    }

    .movie-preview-card .ant-rate {
        font-size: 15px;
    }

    .movie-preview-card .ant-card-cover {
        height: 230px;
    }
}

.movie-preview-card .ant-card-body {
    padding: 17px;
    zoom: 1;
}

.movie-preview-card .ant-card-cover {
    overflow: hidden;
}
