.logo {
    height: 30px;
    margin: 16px;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

.logo-text {
    margin: 10px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.ant-menu-vertical > .ant-menu-item {
    height: 60px;
    line-height: 60px;
}

.ant-menu-inline > .ant-menu-item {
    height: 60px;
    line-height: 60px;
}
